@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="news_wrapper">
        <p class="news" style="animation: 26.1s linear 0s infinite normal none running dynamicAnimation;">Welcome To MSW - Movie Series World</p>
    </div>

    <div class="logo">
        <img src="https://msw-app.com/images/contact/1706723458.jpg" alt="">
    </div>

    <div class="text-center mt-4 name">
        WELCOME
    </div>
    <form style="padding-top: 0 !important" class="p-3" id="submit_form">

        <span id="error"></span>

        <p style="text-align: center">Enter your username</p>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="login_username" placeholder="Username">
        </div>
        <button id="sub_btn" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <div class="icons mt-3" style="display: flex; align-items:center;justify-content:center; gap:15px">
            <a href="https://wa.me/+8801752088487"><img style="width: 3rem;height: 3rem;border-radius: 50%;" src="https://msw-app.com/images/contact/1706724544.png" alt=""></a>
            <a href="https://wa.me/+8801752088487"><img style="width: 3rem;height: 3rem;border-radius: 50%;" src="https://msw-app.com/images/contact/1706724402.png" alt=""></a>
            <a href="https://wa.me/+8801752088487"><img style="width: 3rem;height: 3rem;border-radius: 50%;" src="https://msw-app.com/images/contact/1706724514.png" alt=""></a>
        </div>
    </div>
</div>


